/* .loading-spinner,
.loading-spinner:before,
.loading-spinner:after {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.loading-spinner {
  margin: 0 auto;
  position: relative;
  background: transparent;
}
.loading-spinner:before {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  border: 10px solid #faa916;
  animation: 3s rotate infinite linear;
}
.loading-spinner:after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  border: 10px solid #f9fffd;
  animation: 3s rotate infinite linear;
}
.loading-spinner:before {
  border-left-color: transparent;
}
.loading-spinner:after {
  top: 25%;
  left: 25%;
  width: 25px;
  height: 25px;
  border-right-color: transparent;
  animation-direction: reverse;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
} */
